.container {
  margin: 0 auto;
  padding: 15px 15px;
  max-width: 1140px;

  .filter__container {
    margin-bottom: 10px;

    input {
      margin-right: 10px;
    }
  }

  .data__table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(83, 77, 83);

    tbody tr:nth-child(odd) {
      background: #fff;
    }

    /* Четные строки */
    tbody tr:nth-child(even) {
      background: #dccbcb86;
    }
  }

  .table__header {
    background-color: grey;
    color: white;
  }
}
